
.firstname{
    font-size: 4em;
    display: block;
    font-weight: bold;
    margin: 0;
    padding-top: 20px;
    color: #ffffff;
}
.secondname{
    font-size: 3em;
    display: block;
    font-weight: bold;
    padding-top: 10px;
    margin: 0;
    color: #ffffff;
}
.name{
    padding-left: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
.image1{
    width: 200px;
    height: 200px;
    float: right;
    padding: 40px;
    padding-right: 350px;
    
}
.section{
    display: flex;
    justify-content: space-between;
    background-color: rgba(1, 1, 1, 0.83);
}
.clip{
    position: absolute;
    right: 0;
    left: 0;
    z-index: -1;
  
}
@media(min-aspect-ratio: 16/9){
    .clip{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .clip{
        width: auto;
        height: 100%;
    }
}
body{
    background-image: url(abstract-background-1920x1080-11066.jpg);
    
    background-position: center;
    background-repeat: no-repeat;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    background: rgba(0, 0, 0, 0);
    
   
}
nav ul{
    list-style: none;
    float: right;  
    margin: 0;
    padding: 0;
    display: flex; 
}

nav ul li a{
     line-height: 80px;
     color: #fff;
     padding: 12px 30px;
     text-decoration: none;
     font-size: 14px;
     font-weight: bold;
     text-transform: uppercase;
}
nav ul li a:hover{
        background: rgba(255, 255, 255, 0.175);
        border-radius: 6px;
}

p{
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
    font-size: clamp(8px, 8vw, 30px);
    margin: 0;
    color: #fff;
    font-family: serif;
}


.section2{
    display: flex;
    justify-content: space-between;
    background-color: rgba(1, 1, 1, 0.096);
}  

footer{
    background-color: #0000001b;
}

.footercontainer{
    
    padding: 70px 30px 20px;
}

.socialicons{
    display: flex;
    justify-content: center;
}

.socialicons a{
    text-decoration: none;
    padding: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 50%;
}

.socialicons a i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialicons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialicons a:hover i{
    color: white;
    transition: 0.5s;
}

.footernav{
    margin: 30px 0;
}

.footernav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footernav ul li a{
    color: #fff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footernav ul li a:hover{
    opacity: 1;
}

.footerbottom{
    
    padding: 0;
    text-align: center;
}
.footerbottom p{
    color: #fff;
    
}

.designer{
    opacity: 0.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footernav ul{
        flex-direction: column;
    }
    .footernav ul li{
        width: 100%;
        text-align: 100%;
        margin: 10px;
    }
}

.image2{
    width: 300px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mom{
    float: left;
    width: 32.5%;
    padding: 5px;
}

.images::after{
    content: "";
    display: table;
    clear: both;
}

.topic{
    font-size: 4em;
    display: block;
    font-weight: bold;
    margin: 0;
    padding-top: 20px;
    color: #ffffff;
    padding-left: 300px;
    
}
.image1:hover{
        zoom:1.1;
}
.image2:hover{
        zoom:1.1;
}
.images:hover{
        zoom:1.1;
}
    
